<template>
    <div>
        <div class="w-100 overflow-h">
            <p class="alert-onfire onfire-success fs-13 wow slideInDown" v-if="newPost.success === '1'">Post añadido exitosamente<i class="fas fa-times mr-2 ml-4" style="cursor:pointer;" v-on:click="newPost.success = ''" /></p>
        </div>
        <div class="w-100 minh-100vh background-parallax background-inicio-1">
            <div class="bg-opacity-white w-100 minh-100vh d-flex df-items-start">
                <div class="w-100 m-auto p-4">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4" style="border-radius:10px 10px 10px 10px;">
                        <a class="navbar-brand" href="#">GETPOSTS OnFire</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav">
                            <li class="nav-item active">
                                <a class="nav-link" href="#" @click="changeNavBar('eventos')">Eventos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" @click="changeNavBar('productos')">Productos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" @click="changeNavBar('clientes')">Clientes</a>
                            </li>
                            <li class="nav-item" v-if="typeUser == 'admin'">
                                <a class="nav-link disabled" href="#" @click="changeNavBar('administrador')">Administrador</a>
                            </li>
                            </ul>
                        </div>
                    </nav>
                    <div class="ml-2 border-l-title pl-4 mb-4 mt-2 row overflow-h"  >
                        <div class="col-12 col-sm-8 col-md-9 col-lg-10 pl-0 wow slideInLeft delay-1s">
                            <p class="text-left fs-30 mb-0"><strong>Posts de {{active.current}} 2019</strong></p>
                            <p class="text-left fs-20">Informacion justa y veráz</p>
                        </div>
                        <div class="col-12 col-sm-4 col-md-3 col-lg-2 d-flex df-items-start pl-0 wow slideInRight delay-1s">
                            <div class="w-100">
                                <button class="btn btn-success btn-logout fs-15 ml-auto w-100 mb-1" data-toggle="modal" data-target="#newPostModal"><span><i class="fas fa-folder-plus mr-3 ml-1" />New post</span></button>
                                <button class="btn btn-danger btn-logout fs-15 ml-auto w-100" @click="getLogout()" :disabled="logout.loading === '1'"><span v-if="logout.loading === ''"><i class="fas fa-sign-out-alt mr-3 ml-1" />Logout</span><i class="fas fa-circle-notch fa-spin mr-3" v-if="logout.loading === '1'" /></button>
                            </div>
                        </div>
                    </div>
                    <transition>
                        <div v-if="posts.length === 0" class="w-100 overflow-h"  >
                            <p class="fs-30 mt-3 text-center wow slideInRight delay-1s"><i class="fas fa-exclamation-circle fs-30 mr-3" />No hay posts de {{active.current}} registrados</p>
                        </div>
                    </transition>
                    <div class="w-100 d-flex df-items-start" v-if="posts.length > 0">
                        <div class="w-responsive-cl mx-auto w-100 overflow-h" >
                            <div class="row m-0 p-0 wow slideInUp delay-2s" style="animation-duration: 1s;">
                                <div class="col-12 col-sm-6 col-md-4 col-lg-3 p-2 mx-auto d-flex icon-animation" v-for="post in posts" :key="post.id">
                                    <div class="card w-100">
                                        <div class="card-header">
                                            <h5 class="card-title text-left">Post N° {{post.id}}</h5>
                                        </div>
                                        <div class="card-body">
                                            <h6 class="card-subtitle text-muted">{{post.title}}</h6>
                                        </div>
                                        <div class="card-footer text-muted">
                                            <span v-on:click="deletePosts(post.id)" class="color-link-b card-link"><i class="fas fa-trash-alt mr-2" />Eliminar</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="newPostModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <form v-on:submit.prevent="sendPost()" class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title fs-15" id="exampleModalCenterTitle">Nuevo Post</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <span class="fs-15">Contenido</span>
                        <textarea class="form-control w-100 fs-15" type="text" required v-model="newPost.content" ></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>
<script>
import axios from 'axios';
import WOW from 'wow.js';
export default {
    name: 'Home',
    data () {
        return {
            posts: [],
            newPost:{
                content:'',
                success:'',
            },
            status:{
                loading:'',
                error:'',
                errorStatus:'',
                none:'',
            },
            logout:{
                loading:'',
            },
            active:{
                eventos:'',
                productos:'',
                clientes:'',
                administrador:'',
                current:'Eventos',
            },
            typeUser:'',
            userType:'',
        }
    },
    mounted(){
        new WOW().init();
        var self = this;
        self.typeUser = localStorage.getItem('acceso_token');
        self.userType = JSON.parse(self.typeUser);
        console.log(self.typeUser);
        console.log(self.userType)
  },
  methods:{
      changeNavBar(value){
          var self = this;
          if(value == "eventos"){
              self.active.current = 'Eventos';
          }else if(value == "productos"){
              self.active.current = 'Productos'
          }else if(value == "clientes"){
              self.active.current = 'Clientes';
          }else if(value == "administrador"){
              self.active.current = 'Administrador';
          }
      },
        sendPost(){
            var self = this;
            var newPostID = (self.posts.length + 1);
            this.posts.push({"id":newPostID, "title":self.newPost.content});
            $('#newPostModal').modal('hide');
            this.newPost.success = '1';
            this.newPost.content = '';
        },
        deletePosts(postID){
            const postToDelete = this.posts.filter((b)=>{
                return b.id != postID;
            })
            this.posts = [].concat(postToDelete);
        },
        getLogout(){
            var self = this;
                localStorage.removeItem('acceso_token');
                self.$router.push('/');
        },

  }
}
</script>
<style scoped>
/* ESTILOS PARA ENLACES */
.color-link-b{
    color: #007bff !important;
    cursor:pointer;
}

/* ESTILOS ADICIONALES */
.border-l-title{
    border-left:2px solid black;
}
.w-responsive-cl{
    max-width:900px;
}
</style>