
<template>
    <body class="p-0">
        <router-view></router-view>
    </body>
</template>
<script>
    import WOW from 'wow.js';
    export default{
        name:'index',
        mounted(){
            new WOW().init();
        }
    }
</script>
<style>
/* latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v13/1Ptug8zYS_SKggPNyCMIT4ttDfCmxA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v13/1Ptug8zYS_SKggPNyC0IT4ttDfA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* ESTILOS BÁSICOS DE LA APLICACION */
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

*{
    font-family: 'Raleway' !important;
}
/* CLASES PARA MEDIDAS REUTILIZABLES */
.h-100vh{
  height:100vh;  
}
.minh-100vh{
  min-height:100vh;  
}
.minh-200px{
  min-height:200px;
}
.maxw-form{
  max-width:450px;
}

/* BACKGROUND TIPO PARALLAX */
.background-parallax{
  background-size:cover;
  background-repeat: no-repeat;
  background-position:center;
  background-attachment: fixed;
}

/* CLASES DE FLEXBOX PARA MANEJAR CONTENIDO */
.j-center{
  justify-content:center;
  align-items:center;
}
.df-items-start{
  align-items:flex-start;
}
.overflow-h{
  overflow:hidden;
}
.overflow-x-h{
  overflow-x:hidden;
}

/* BACKGROUNDS CON IMAGENES ESTATICAS */
.background-inicio-1{
  background-image:url('/images/santiago.jpg');
}
.background-inicio-2{
  background-image:url('/images/new.jpg');
}
.sl-img1{
  background-image:url('/images/newyork.jpg');
}
.sl-img2{
  background-image:url('/images/lax.jpg');
}
.sl-img3{
  background-image:url('/images/seattle.jpg');
}
.sl-img4{
  background-image:url('/images/toronto.jpg');
}
.sl-img5{
  background-image:url('/images/vancouver.jpg');
}
.sl-img6{
  background-image:url('/images/montreal.jpg');
}
.sl-img7{
  background-image:url('/images/shanghai.jpg');
}
.sl-img8{
  background-image:url('/images/beijing.jpg');
}
.sl-img9{
  background-image:url('/images/tokio.jpg');
}

/* BACKGROUNDS PARA DAR OPACIDAD AL FONDO DEL DIV */
.bg-white-opacity-2{
  background-color:rgba(255,255,255,.65);
}
.bg-opacity{
  background-color:rgba(1,1,1,.5);
}
.bg-opacity-white{
    background-color:rgba(255,255,255,.7);
}

/* CLASES PARA TAMAÑOS DE FUENTES REUTILIZABLES */
.fs-30{
  font-size:3rem;
}
.fs-20{
  font-size:2rem;
}
.fs-15{
  font-size:1.5rem;
}
.fs-13{
  font-size:1.3rem;
}

/* CODIGO CSS DE ALERTS Y ANIMACIONES */
.alert-onfire {
  border-bottom-right-radius: 2px;
  border-left: 4px solid;
  border-top-right-radius: 2px;
  line-height: 1.6em;
  z-index: 1;
}

.onfire-success:before{
    content: "!";
    font-family: "Font Awesome 5 Free";
    background-color:green;
}
.onfire-success{
  border-left-color: green;
    border-right: 3px solid green;
    border-top: 3px solid green;
    border-bottom: 3px solid green;
    padding:12px 14px 12px 30px;
    background-color:#E9FFB9;  
    color: green;
    font-weight:600;
    position:fixed;
    border-radius:10px !important;
    top:50px;
    left:40%; 
    z-index:102;
}
.onfire-login{
  border-left-color: #f66;
  padding:12px 24px 12px 30px;
  background-color:#f8f8f8;
  position:relative;
  margin-top:-1.5rem;
}
.onfire-login:before{
  background-color:#f66;
}
.onfire-success:before{
  background-color:green;
}
.alert-onfire:before{
  content: "!";
  font-family: "Font Awesome 5 Free";
  border-radius:100%;
  color:#fff;
  font-size:22px;  
  font-weight:bold;
  height:25px;
  left:-14px;
  line-height:20px;
  position:absolute;
  text-align: center;
  top: calc(50% - 14px);
  width:25px;
}
.scale-transform-1:hover{
  transform: scale(1.1);
}
.icon-animation:hover {
    -webkit-animation: pulse .6s infinite alternate;
    -moz-animation: pulse .6s infinite alternate;
    -ms-animation: pulse .6s infinite alternate;
    -o-animation: pulse .6s infinite alternate;
    animation: pulse .6s infinite alternate;
}

@-webkit-keyframes pulse {
  from {transform: scale(1);}
  to {transform: scale(1.1);}
}
@-moz-keyframes pulse {
  from {transform: scale(1);}
  to {transform: scale(1.1);}
}
@-ms-keyframes pulse {
  from {transform: scale(1);}
  to {transform: scale(1.1);}
}
@-o-keyframes pulse {
  from {transform: scale(1);}
  to {transform: scale(1.1);}
}
@keyframes pulse {
  from {transform: scale(1);}
  to {transform: scale(1.1);}
}
</style>

